body{
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	text-align: justify;
	font-size: 13px;
    background: linear-gradient(-30deg, #55ccff, #c8f4ff);
    height: 100%;
    min-height: 1000px;
    padding-bottom: 100px;
}

#pdf {
    display: none;
}

.bigHeader {
    padding-top: 60px;
    margin-bottom: 50px;
    font-size: 48px;
    color: rgb(51, 81, 152);
}

.inputsContainer {
    margin-top: 20px;
    padding: 15px 30px;
    display: flex;
    flex-wrap: wrap;
}

.inputsContainerFilled {
    margin: auto;
    display: flex;
    max-width: 485px;
    padding: 10px;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.btnStandard {
    font-weight: 700;
    font-size: 9px;
    color: white;
    background-color: rgb(51, 81, 152);
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    text-transform: uppercase;
}

.btnInverse {
    background: #fff;
    color: rgb(51, 81, 152);
}

.btnWarn {
    background-color: rgb(153, 19, 53);
}

.btnSuccess {
    color: white;
    background-color: rgb(44, 139, 228);
}

.btnSuccessInverse {
    background-color: white;
    color: rgb(44, 139, 228);
}

.btnBig {
    font-size: 12px;
}

.centerDiv {
    width: 100%;
    text-align: center;
}

.sectionHeader {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.sectionHeader span {
    margin-right: 30px;
}

.inputSection {
    padding: 20px 30px;
    margin: 10px;
    background-color: #fff;
    border-radius: 3px;
    flex-grow: 1;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.inputSectionClear {
    padding-bottom: 20px;
    margin: 20px;
}

.inputClear {
    margin-bottom: 15px;
}

.inputClearHeader {
    font-weight: 700;
    margin-bottom: 3px;
}

.sectionHeaderClear {
    font-weight: 700;
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    flex-basis: 100%;
}

.inputRow {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
}

.inputText {
    margin-right: 10px;
    padding: 7px 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    resize: vertical;
}

.addSection {
    padding: 30px;
    background-color: rgba(51, 81, 152, 0.98);
    border-radius: 3px;
    width: 340px;
    display: flex;
}

.addSection .inputText {
    background: none;
    color: #fff;
    background-color: rgb(51, 81, 152);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.addSection input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.saveSection {
    padding: 30px;
    padding-bottom: 31px;
    background-color: rgba(44, 139, 228, 0.98);
    border-radius: 3px;
    width: 200px;
}

.lines {
    background-image: url(img/lines.jpg);
    background-size: 240px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

#toast {
    position: fixed;
    width: 100%;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    display: none;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.errorStyle {
    color: rgb(80, 9, 27);
    background-color: rgb(196, 24, 67);
}

.warnStyle {
    color: rgb(61, 56, 31);
    background-color: rgb(221, 183, 11);
}

.successStyle {
    color: rgb(13, 94, 33);
    background-color: rgb(60, 199, 94);
}